@keyframes flicker {
    0% {transform: rotate(-3deg);}
    20% {transform: scaleY(1.1);}
    40% {transform: rotate(-3deg);}
    60% {transform: rotate(3deg);}
    80% {transform: scaleY(0.9);}
    100% {transform: rotate(-3deg);}
}