body {
	margin: 0;
}

.__react_component_tooltip {
	white-space: nowrap;
}

.graph-nav-info {
	display: none;
}

.MuiAppBar-colorPrimary {
	background: #2196F3!important;
}

.makeStyles-fixedHeight-15 {
	height: 440px!important;
}

canvas[data-zr-dom-id="zr_0"] {
	margin-top: 40px;
}

.makeStyles-paper-14 {
	overflow: visible!important;
}